html * {
    font-family: Arial, Helvetica, sans-serif !important;
}

body {
    padding-top: 50px;
}

h3 {
    margin-top: 0;
}

h4 {
    margin: 0 0 10px 0;
}

input,
li,
p,
label {
    font-size: 14px;
}

p {
    color: gray;
}

li {
    margin-top: 10px;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-self-center {
    align-self: center;
}

.align-content-center {
    justify-content: center;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.util-column {
    width: 350px;
    margin: 0 20px 0 0;
    padding-top: 0;
}

.margin-bottom {
    margin-bottom: 20px;
}

.magnet-bottom {
    margin-bottom: -1px;
}

.margin-right {
    margin-right: 20px;
}

.chatbox {
    list-style: none;
    border: solid 1px lightgray;
    overflow: auto;
    border-radius: 5px;
    width: 500px;
    height: 500px;
    padding: 20px;
    padding-top: 9.5px;
    margin: 0 0 20px 0;
    word-break: break-word;
    scrollbar-gutter: stable;
}

.chatbox::-webkit-scrollbar {
    width: 10px;
}

.chatbox::-webkit-scrollbar-track {
    background: none;
}

.chatbox::-webkit-scrollbar-thumb {
    min-height: 40px;
    background: rgb(211, 211, 211);
    border-radius: 5px;
}

.chatbox::-webkit-scrollbar-thumb:hover {
    background: rgb(186, 186, 186);
}

.channel-search,
input,
.btn {
    padding: 10px;
    border: solid 1px lightgrey;
    box-sizing: border-box;
}

.btn,
input {
    border-radius: 5px;
    margin-bottom: 20px;
    transition-duration: 0.2s;
}

input[type='checkbox'] {
    margin: 0 5px 0 0;
}

input[type='text']:focus {
    outline: none !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    position: relative;
}

.right-flat {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.left-flat {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.bottom-flat {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.top-flat {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.btn {
    cursor: pointer;
}

.width {
    width: 55px;
}

.highlight {
    background-color: rgb(255, 255, 0);
}

.submit-btn {
    border-color: rgb(125, 50, 235);
    background-color: rgb(145, 70, 255);
    color: rgb(240, 240, 255);
}

.btn:hover {
    filter: brightness(1.1)
}

.btn:active {
    filter: brightness(0.9);
}

.d-none {
    display: none;
}

.connect-msg {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
}