html * {
    font-family: Arial, Helvetica, sans-serif !important;
}

body {
    padding-top: 50px;
}

h3 {
    margin-top: 0;
}

input,
li,
p {
    font-size: 14px;
}

p {
    color: gray;
}

li {
    margin-top: 10px;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.util-column {
    width: 350px;
    padding: 20px;
    padding-top: 0;
}

.chatbox {
    list-style: none;
    border: solid 1px lightgray;
    overflow: auto;
    border-radius: 5px;
    width: 500px;
    height: 500px;
    padding: 20px;
    padding-top: 9.5px;
    margin: 0;
    word-break: break-word;
    scrollbar-gutter: stable;
}

.chatbox-div {
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    min-height: 40px;
    background: rgb(211, 211, 211);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(186, 186, 186);
}

.channel-search,
.btn {
    padding: 10px;
    border: solid 1px lightgrey;
}

.channel-search {
    border-radius: 5px 0 0 5px;
    width: auto;
    flex-grow: 1;
}

.btn {
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.submit-btn {
    border-color: rgb(125, 50, 235);
    border-radius: 0 5px 5px 0;
    background-color: rgb(145, 70, 255);
    color: rgb(240, 240, 255);
}

.scroll-bottom-btn {
    margin-top: 20px;
    width: 200px;
    align-self: center;
}

.btn:hover {
    filter: brightness(1.1)
}

.btn:active {
    filter: brightness(0.9);
}

.d-none {
    display: none;
}

.connect-msg {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
}